#!/usr/bin/env python

# Copyright 2008-2018 Univa Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

from __future__ import print_function
import itertools
import random
import time
import sys
import subprocess

### SETTINGS


def try_command(command, good_return_values=(0,), retry_limit=0,
               time_limit=0, max_sleep_time=15000, sleep_interval=2000):
    total_sleep_time = 0
    for retries in itertools.count(0):
        returned = subprocess.Popen(command, shell=True).wait()
        if returned in good_return_values or \
                retries >= retry_limit or total_sleep_time >= time_limit:
            return returned

        seed = min(max_sleep_time, sleep_interval * 2 ** retries)
        sleep_for = (seed / 2 + random.randint(0, seed / 2)) / 1000.0
        total_sleep_time += sleep_for

        time.sleep(sleep_for)


def is_pkg_installed(name):
    return try_command(['zypper', 'search', '--installed-only', '--match-words', name])


def install_pkg(name):
    return try_command(['zypper', '--non-interactive', 'install', name])


def main():
    sys.stdout.write('Installing Puppetlabs RPM GPG key... ')
    sys.stdout.flush()

    try_command(['rpmkeys', '--import', 'http://yum.puppetlabs.com/RPM-GPG-KEY-puppet'])

    # Install Puppetlabs' repository
    if not is_pkg_installed('puppetlabs-release-pc1'):
        install_pkg('http://yum.puppetlabs.com/puppet5/puppet-release-sles-12.noarch.rpm')

    if not is_pkg_installed('puppet-agent'):
        install_pkg('puppet-agent')

    try_command(['/opt/puppetlabs/bin/puppet','agent', '--verbose', '--onetime',
                 '--no-daemonize', '--logdest', '/tmp/puppet_bootstrap.log',
                 '--color', 'false', '--waitforcert', '120', '--server',
                 installerHostName], good_return_values=(0, 2), time_limit=10*60)


if __name__ == '__main__':
    main()
